<body class="home page-template-default page page-id-4 page-child parent-pageid-11 layout-full boxed pagination-load-more no-page-header cbox-share-twitter cbox-share-facebook cbox-share-googleplus cbox-share-pinterest no-header-slider no-header-sidebars responsive-layout no-breadcrumbs no-slider-button-thumbnails no-page-bottom-padding">
  <span id="top"></span>
  <div id="page" class="main-container">
    <div class="fixed-header-box">
      <header class="main-header">
        <div class="first-row">
          <a href="#" id="mp-menu-trigger" class="icon-b" data-icon="&#57801;">Open/Close Menu</a>
          <div class="logo-wrapper">
            <a href="#" title="Seyha &amp; Linna" class="logo ">
              <img src="assets/wp-content/uploads/2013/10/Logo.png" alt="Nick &amp; Sarah" class="hide-hidpi" />
              <img src="assets/wp-content/uploads/2013/10/Logo@2x.png" alt="Nick &amp; Sarah" class="show-hidpi-inline" height="112" />
            </a>
            <div class="clearboth"></div>
            <a href="/" title="Nick &amp; Sarah" class="combined-logo-title">
              <div class="site-title-part left-name">Seyha</div>
              <div class="site-title-part name-delimiter">&amp;</div>
              <div class="site-title-part right-name">Linna</div>
            </a>
            <span class="logo-tagline">ARE GETTING MARRIED!</span>
          </div>
        </div>
        <div class="second-row">
          <div class="limit-wrapper">
            <div class="second-row-columns">
              <div class="header-center">
              </div>
            </div>
          </div>
        </div>
      </header>
      <img src="assets/wp-content/themes/the-wedding-day/wpv_theme/assets/images/svg/menu-lines.svg" onerror="this.onerror=null; this.src='https://the-wedding-day.vamtam.com/assets/wp-content/themes/the-wedding-day/wpv_theme/assets/images/menu-lines.png'"
        class="menu-lines" />
    </div>
    <div class="shadow-bottom"></div>
    <div class="boxed-layout">
      <div class="page-dash-wrapper">
        <div class="pane-wrapper clearfix">
          <header id="header-middle" class="row normal type-featured" style="background-color:#ffffff;min-height:0px">
            <div class="limit-wrapper">
              <div class="header-middle-content">
              </div>
            </div>
          </header>
          <div id="main-content">

            <div id="main" role="main" class="layout-full">
              <div class="limit-wrapper">
                <div class="pane main-pane">
                  <div class="row">
                    <div class="page-outer-wrapper">
                      <div class="clearfix page-wrapper">
                        <article id="post-4" class="full post-4 page type-page status-publish hentry">
                          <div class="page-content no-image">
                            <div class="push" style='height:20px'></div>
                            <h1 style="text-align: center;">Wedding Invitation</h1>
                            <div class="push" style='height:20px'></div>
                            <img class="aligncenter" style="position: relative; z-index: 99; bottom: -18px; left: -10px;" title="" src="assets/wp-content/uploads/2013/03/element-5.svg"
                              alt="" />
                            </p>
                            <div class="push" style='margin-bottom:-10px'></div>
                            <div class="row ">
                              <div class="wpv-grid grid-1-5  wpv-first-level first unextended" style="padding-top:0px;padding-bottom:0px"
                                id="wpv-column-a2206aded3ddee2c12400a3059dbbba8">
                                <div class="push" style='height:80px'></div>
                                <%= image_tag "portrait-man1.svg", class: "aligncenter size-full wp-image-6724", size: "165" %>
                                </p>
                                <h3 style="text-align: center;">Heng Seyha</h3>
                                <p style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adi pisi cing elit, sed do eiusmod tempor exercitationemut
                                  labore et dolore magna aliqua. Ut enim ad consequatur quis nostrud exercitation ullamco
                                  laboris nisi ut aliquip ex ea commodo consequat&#8230;</p>
                                <p style="text-align: center;">
                                  <a href="https://www.facebook.com/sino.chef7">
                                    <span class='icon shortcode  ' style='font-size:26px !important;'>&#58157;</span>
                                  </a>
                                </p>
                              </div>
                              <div class="wpv-grid grid-3-5  wpv-first-level unextended" style="padding-top:0px;padding-bottom:0px" >

                                <div id="layerslider_1" class="ls-wp-container fitvidsignore" style="margin:0 auto;margin-bottom: 0px;">
                                  <div class="ls-slide1" data-ls="duration:4000;transition2d:5;kenburnsscale:1.2;">
                                    <%= image_tag "profile1.png", class: "ls-l", style: "border-radius: 1000px;top:0px;left:20px;", size: '800' %>
                                  </div>
                                </div>
                                <div class="push" style='height:3px'></div>
                              </div>
                              <div class="wpv-grid grid-1-5  wpv-first-level unextended" style="padding-top:0px;padding-bottom:0px" id="wpv-column-74d59e477a3b247776912d3411fd10bc">
                                <div class="push" style='height:80px'></div>
                                <%= image_tag "portrait-woman1.svg", class: "aligncenter size-full wp-image-6724", size: "165" %>
                                </p>
                                <h3 style="text-align: center;">Chhoeun Linna</h3>
                                <p style="text-align: center;">Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus
                                  molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum me.</p>
                                <p style="text-align: center;">
                                  <a href="https://www.facebook.com/patchpatch.nona">
                                    <span class='icon shortcode  ' style='font-size:26px !important;'>&#58157;</span>
                                  </a>
                                </p>
                              </div>
                            </div>
                            <div class="row ">
                              <h1 style="text-align: center;">SATURDAY &#8211; 23 DECEMBER 2017<br>AT 4:00 O'CLOCK AT THE EVENING</h1>
                              <center><%= image_tag 'line.png', size: '550x250', style: 'margin-top:60px;' %></center>
                              <center><p style="font-size: 1.6em;">វេលាម៉ោង 4:00 រសៀលនៅគេហដ្ឋានខាងស្រី ភូមិក្បាលស្ពាន ឃុំម៉ាឡៃ ស្រុកម៉ាឡៃ ខេត្តបន្ទាយមានជ័យ</p></center>
                              <div class="wpv-grid grid-1-3  wpv-first-level first unextended" style="padding-top:0px;padding-bottom:0px"
                                id="wpv-column-b3c1d760f051b4c511323e89f6a6a50f">
                                <div class="push" style='height:10px'></div>
                              </div>
                            </div>
                            <div class="row ">
                              <div class="wpv-grid grid-1-1  wpv-first-level first unextended animation-fade-in animated-active"
                                style="padding-top:0px;padding-bottom:0px" id="wpv-column-30e760b17da7fc5967777b7b33b54e4e">
                                <div class="sep-3"></div>
                                <div class="push" style='height:5px'></div>
                                <h3 style="text-align: center;">Thank you for joining our special day with us</h3>
                                <h5 style="text-align: center;">~ we are sorry if something wrong in the party ~</h5>
                                <div class="push" style='height:40px'></div>
                              </div>
                            </div>
                            <div class="row ">
                              <div class="wpv-grid grid-1-1  wpv-first-level first has-background extended animation-fade-in animated-active"
                                style="
                                    background: url(<%= asset_path 'bor.png' %>) repeat-y center bottom;
                                    background-size: auto;
                                    background-attachment: scroll;
                                  background-color:#688a72;padding-top:15px;padding-bottom:35px" id="wpv-column-2573d5b8871ad2f811cd9ceeda5e6d62">
                                <div class="extended-column-inner">
                                  <div class="sep-text single centered">
                                    <span class="sep-text-before">
                                      <div class="sep-text-line"></div>
                                    </span>
                                    <div class="content">
                                      <h2>Just</h2>
                                    </div>
                                    <span class="sep-text-after">
                                      <div class="sep-text-line"></div>
                                    </span>
                                  </div>
                                  <div class="push" style='height:50px'></div>
                                    <center><div class="demo1 dsCountDown ds-white"></div></center>
                                  <div class="push" style='height:50px'></div>
                                  <h2 style="text-align: center;"> until we get parties!</h2>
                                </div>
                              </div>
                            </div>
                          </div>
                        </article>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="copyrights">
            <div class="limit-wrapper">
              <div class="row">
                <div class="push" style='height:20px'></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="scroll-to-top" class="icon">&#58006;</div>