%h1 Listing contacts

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @contacts.each do |contact|
      %tr
        %td= contact.name
        %td= link_to 'Show', contact
        %td= link_to 'Edit', edit_contact_path(contact)
        %td= link_to 'Destroy', contact, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

  = form_tag import_contacts_path, multipart: true do
    .text-center
      = file_field_tag :file
    = submit_tag "Import", class: "btn btn-primary"

