<body class="home page-template-default page page-id-4 page-child parent-pageid-11 layout-full boxed pagination-load-more no-page-header cbox-share-twitter cbox-share-facebook cbox-share-googleplus cbox-share-pinterest no-header-slider no-header-sidebars responsive-layout no-breadcrumbs no-slider-button-thumbnails no-page-bottom-padding">
  <span id="top"></span>
  <div id="page" class="main-container">
    <div class="fixed-header-box">
      <header class="main-header">
        <div class="first-row">
          <a href="" id="mp-menu-trigger" class="icon-b" data-icon="&#57801;">Open/Close Menu</a>
          <div class="logo-wrapper">
            <a href="" title="Seyha &amp; Linna" class="logo">
              <%= image_tag "logo2.png", class: "show-hidpi-inline", size: "210x112", alt: "Seyha &amp; LInna" %>
            </a>
            <div class="clearboth"></div>
            <a href="" title="Nick &amp; Sarah" class="combined-logo-title">
              <div class="site-title-part left-name">Seyha</div>
              <div class="site-title-part name-delimiter">&amp;</div>
              <div class="site-title-part right-name">Linna</div>
            </a>
            <span class="logo-tagline">ARE GETTING MARRIED!</span>
          </div>
        </div>
        <div class="second-row">
          <div class="limit-wrapper">
            <div class="second-row-columns">
              <div class="header-center">
              </div>
            </div>
          </div>
        </div>
      </header>
        <%= image_tag 'svg/menu-lines.svg', class: 'menu-lines'%>
    </div>
    <div class="shadow-bottom"></div>
    <div class="boxed-layout">
      <div class="page-dash-wrapper">
        <div class="pane-wrapper clearfix">
          <header id="header-middle" class="row normal type-featured" style="background-color:#ffffff;min-height:0px">
            <div class="limit-wrapper">
              <div class="header-middle-content">
              </div>
            </div>
          </header>
          <div id="main-content">

            <div id="main" role="main" class="layout-full">
              <div class="limit-wrapper">
                <div class="pane main-pane">
                  <div class="row">
                    <div class="page-outer-wrapper">
                      <div class="clearfix page-wrapper">
                        <article id="post-4" class="full post-4 page type-page status-publish hentry">
                          <div class="page-content no-image">
                            <div class="push" style='height:20px'></div>
                            <h1 style="text-align: center;">Wedding Invitation</h1>
                            <div class="push" style='height:20px'></div>
                            <%= image_tag 'element-5.svg', class: 'aligncenter', style: 'position: relative; z-index: 99; bottom: -18px; left: -10px;'%>
                            <div class="push" style='margin-bottom:-10px'></div>
                            <div class="row ">
                              <div class="wpv-grid grid-1-5  wpv-first-level first unextended" style="padding-top:0px;padding-bottom:0px" id="wpv-column-a2206aded3ddee2c12400a3059dbbba8">
                                <div class="push" style='height:80px'></div>
                                  <%= image_tag "portrait-man1.svg", class: "aligncenter size-full wp-image-6724", size: "165" %>
                                </p>
                                <h3 style="text-align: center;">Heng Seyha</h3>
                              </div>
                              <div class="wpv-grid grid-3-5  wpv-first-level unextended" style="padding-top:0px;padding-bottom:0px" >

                                <div id="layerslider_1" class="ls-wp-container fitvidsignore" style="margin:0 auto;margin-bottom: 0px;">
                                  <div class="ls-slide1" data-ls="duration:4000;transition2d:5;kenburnsscale:1.2;">
                                    <%= image_tag "profile1.png", class: "ls-l", style: "border-radius: 1000px;top:0px;left:20px;", size: '800' %>
                                  </div>
                                </div>
                                <div class="push" style='height:3px'></div>
                              </div>
                              <div class="wpv-grid grid-1-5  wpv-first-level unextended" style="padding-top:0px;padding-bottom:0px" id="wpv-column-74d59e477a3b247776912d3411fd10bc">
                                <div class="push" style='height:80px'></div>
                                <%= image_tag "portrait-woman1.svg", class: "aligncenter size-full wp-image-6724", size: "165" %>
                                </p>
                                <h3 style="text-align: center;">Chhoeun Linna</h3>
                              </div>
                            </div>
                            <div class="row ">
                              <h1 style="text-align: center;">SATURDAY &#8211; 23 DECEMBER 2017<br>AT 4:00 O'CLOCK AT THE EVENING</h1>
                              <center>
                                <h3 style="position: relative;top: 95px;font-size: 3.3em;color: #F07677;font-family: 'Angkor', 'Passion One';text-transform:uppercase;"><%= @contact.name %></h3>
                                <%= image_tag 'line.png', size: '550x250', style: 'margin-top:60px;' %>
                              </center>
                              <center><p style="font-size: 1.6em;">វេលាម៉ោង 4:00 រសៀលនៅគេហដ្ឋានខាងស្រី ភូមិក្បាលស្ពាន ឃុំម៉ាឡៃ ស្រុកម៉ាឡៃ ខេត្តបន្ទាយមានជ័យ</p></center>
                              <div class="wpv-grid grid-1-3  wpv-first-level first unextended" style="padding-top:0px;padding-bottom:0px"
                                id="wpv-column-b3c1d760f051b4c511323e89f6a6a50f">
                                <div class="push" style='height:10px'></div>
                              </div>
                            </div>
                            <div class="row ">
                              <div class="wpv-grid grid-1-1  wpv-first-level first unextended animation-fade-in animated-active"
                                style="padding-top:0px;padding-bottom:0px" id="wpv-column-30e760b17da7fc5967777b7b33b54e4e">
                                <div class="sep-3"></div>
                                <div class="push" style='height:5px'></div>
                                <h3 style="text-align: center;">Thank you for joining our special day with us</h3>
                                <h5 style="text-align: center;">~ we are sorry if something wrong in the party ~</h5>
                                <div class="push" style='height:40px'></div>
                              </div>
                            </div>
                            <div class="row ">
                              <div class="wpv-grid grid-1-1 wpv-first-level first has-background extended animation-fade-in animated-active"
                                style="
                                    background:  url(<%= asset_path 'bor.png' %>) repeat-y center bottom;
                                    background-size: auto;
                                    background-attachment: scroll;
                                  background-color:#688a72;padding-top:15px;padding-bottom:35px" id="wpv-column-2573d5b8871ad2f811cd9ceeda5e6d62">
                                <div class="extended-column-inner">
                                  <div class="sep-text single centered">
                                    <span class="sep-text-before">
                                      <div class="sep-text-line"></div>
                                    </span>
                                    <div class="content">
                                      <h2>Just</h2>
                                    </div>
                                    <span class="sep-text-after">
                                      <div class="sep-text-line"></div>
                                    </span>
                                  </div>
                                  <div class="push" style='height:50px'></div>
                                    <center><div class="demo1 dsCountDown ds-white"></div></center>
                                  <div class="push" style='height:50px'></div>
                                  <h2 style="text-align: center;"> until we get parties!</h2>
                                </div>
                              </div>
                            </div>
                          </div>
                        </article>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d24500.4754645717!2d102.36376795537082!3d13.569513916099073!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d12.8914285!2d102.97319189999999!4m5!1s0x311b4190c42cef61%3A0x1eaead461cb31924!2sUnnamed+Road%2C+Malai!3m2!1d13.571629199999999!2d102.36251!5e0!3m2!1sen!2skh!4v1513180698357" width="100%" height="650px" frameborder="0" style="border:0" allowfullscreen></iframe>
          <div class="copyrights">
            <div class="limit-wrapper">
              <div class="row">
                <div class="push" style='height:20px'></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>